<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Sample widget demonstrating API use within node/express project">
        <meta name="author" content="Stephen Joys, Andrew Mead, WeatherStack">
        <link rel="stylesheet" href="css/wstyle.css">
        <link rel="stylesheet" href="css/page.css">

        <link rel="shortcut icon" id="favicon-ico" href="assets/favicons/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="assets/favicons/site.webmanifest">
        <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#333333">
    </head>

    <body>
      <div style="display:flex; justify-content:space-between;">
        <div style="color:white;margin-left:20px; margin-bottom:10px; font-size:1.5em;">
          <h1>Weather frame</h1>
          <p>copycat of <a href="https://weatherstack.com/">weatherstack</a> homepage widget</p>
        </div>

        <a href="https://github.com/Stevrak/weatherframe" title="github.com/Stevrak/weatherframe">
          <img width="80" height="80" style="margin:15px" src="assets/GitHub-Mark-Light-120px-plus.png" alt="Project on GitHub"/>
        </a>
      </div>

      <div class="flex-set">

      <div>
        <h2>In-page weather data from user input</h2>
        <div class="flex-small">
            <span> Current day data is retrieved via geolocation/weatherstack APIs
                while 5-day forecast data is only avaliable with paid API</span>

            <form id="weatherform" style="min-width: 315px;">
              <input placeholder="enter address">
              <button>Search</button>
           </form>
         </div>
         <hr>
         <div id="results" class="results"></div>
      </div>

       <div>
         <div class="flex-small">
           <h2>Same but just mock data</h2>
           <button id="mock_button">get mock data</button>
         </div>
         <hr>
         <div id="mock_results" class="results"></div>
      </div>

      <div>
        <h2> iframe </h2>
        <div class="flex-small">
              <span> weather in format that can be loaded from external page in an iframe</span>
              <form id="iframeform" style="min-width: 315px;">
                <input placeholder="enter address">
                <button>Search</button>
             </form>
          </div>

        <hr>

        <div id="iframe_results" style="display:flex;justify-content:center;"><div>
          <!--<iframe src="/weather_iframe/toronto" width="508" height="308" frameborder="0" scrolling="no"></iframe> -->
        </div></div>

      </div>

      <div>
        <h2> iframe mock data</h2>
        <span> mock data format that can be loaded from external page in an iframe</span>
        <hr>
        <div style="display:flex;justify-content:center;"><div>
          <iframe src="/weather_mock_iframe" width="508" height="308" frameborder="0" scrolling="no"></iframe>
        </div></div>
      </div>

    </div>

    <!-- add listeners to call routes to populate in-page weather data -->
    <script src="./js/weather_insert.js"></script>
    </body>
</html>
